<div class="widget-new-cars">
    <div class="themesflat-container">
        <div class="new-cars-wrap">
            <div class="header-section-main mb-46">
                <h2 class="title-section-main wow fadeInUp">Recently Added</h2>
                <div class="btn-read-more wow fadeInUp">
                    <a class="more-link" [routerLink]="['/recently']">
                        <span>View More</span>
                        <i class="icon-arrow-up-right2"></i>
                    </a>
                </div>

            </div>
            <div class="swiper new-cars mybest-selling">
  <div class="swiper-wrapper">
    <div class="tf-car-service swiper-slide" *ngFor="let car of cars">
      <a [attr.href]="'detail/' + car?.id" class="image">
        <div class="stm-badge-top">
          <div class="feature">
            <span>{{ car?.condition || 'New' }}</span>
          </div>
        </div>

        <div class="listing-images">
          <div class="hover-listing-image">
            <div class="wrap-hover-listing">
              <div class="listing-item"
                   *ngFor="let img of car?.photoUrls; let i = index"
                   [class.active]="hoveredIndexes[car.id] === i || (!hoveredIndexes[car.id] && i === 0)"
                   (mouseover)="setHoveredImage(car.id, i)"
                   (mouseleave)="resetHoveredImage(car.id)"
                   [title]="car?.title">
                <div class="images">
                  <img [src]="baseUrl + img" class="swiper-image tfcl-light-gallery" alt="image">
                </div>
              </div>

              <div class="bullet-hover-listing">
                <div class="bl-item"
                     *ngFor="let dot of car?.photoUrls; let i = index"
                     [class.active]="hoveredIndexes[car.id] === i || (!hoveredIndexes[car.id] && i === 0)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <div class="content">
        <span class="sub-title">{{ car?.make + ' ' + car?.model + ' ' + car?.type }}</span>
        <h6 class="title">
          <a [attr.href]="'detail/' + car?.id">{{ car?.title }}</a>
        </h6>
        <span class="price">{{ '$' + car?.regularPrice }}</span>

        <div class="bottom-btn-wrap">
          <div class="btn-read-more">
            <a class="more-link" [attr.href]="'detail/' + car?.id">
              <span>View details</span>
              <i class="icon-arrow-right2"></i>
            </a>
          </div>
             <div class="btn-group">
            <a  class="icon-service">
              <i (click)="wishlist(car.id)" *ngIf="!wishlistedCars?.includes(car.id)" class="icon-heart-1-1"></i>
              <i (click)="removeWishlist(car.id)" *ngIf="wishlistedCars?.includes(car.id)" class="icon-heart"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>

        </div>
    </div>
</div>
