<div class="widget-new-cars">
    <div class="themesflat-container">
        <div class="new-cars-wrap">
            <div class="header-section-main mb-46">
                <h2 class="title-section-main wow fadeInUp">Recently Added</h2>
                <div class="btn-read-more wow fadeInUp">
                    <a class="more-link" href="category.html">
                        <span>View More</span>
                        <i class="icon-arrow-up-right2"></i>
                    </a>
                </div>

            </div>
            <div class="swiper new-cars mybest-selling">
                <div class="swiper-wrapper">
                    <div class="tf-car-service swiper-slide" *ngFor="let car of cars">
                      <a href="/detail/25" class="image">
                        <div class="stm-badge-top">
                          <div class="feature">
                            <span>{{ car.badge }}</span>
                          </div>
                        </div>
                        <div class="listing-images">
                          <div class="hover-listing-image">
                            <div class="wrap-hover-listing">
                              <div class="listing-item active" [title]="car.title">
                                <div class="images">
                                  <img [src]="car.images[0]" class="swiper-image tfcl-light-gallery" alt="images">
                                </div>
                              </div>
                              <div class="listing-item" [title]="car.title">
                                <div class="images">
                                  <img [src]="car.images[1]" class="swiper-image lazy tfcl-light-gallery" alt="images">
                                </div>
                              </div>
                              <div class="listing-item view-gallery" [title]="car.title">
                                <div class="images">
                                  <img [src]="car.images[2]" class="swiper-image tfcl-light-gallery" alt="images">
                                  <div class="overlay-limit">
                                    <img src="assets/images/car-list/img.png" class="icon-img" alt="icon-map">
                                    <p>2 more photos</p>
                                  </div>
                                </div>
                              </div>
                              <div class="bullet-hover-listing">
                                <div class="bl-item active"></div>
                                <div class="bl-item"></div>
                                <div class="bl-item"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      <div class="content">
                        <span class="sub-title">{{ car.subtitle }}</span>
                        <h6 class="title"><a href="/detail/25">{{ car.title }}</a></h6>
                        <span class="price">{{ car.price }}</span>
                        <div class="bottom-btn-wrap">
                          <div class="btn-read-more">
                            <a class="more-link" href="/detail/25">
                              <span>View details</span>
                              <i class="icon-arrow-right2"></i>
                            </a>
                          </div>
                          <div class="btn-group">
                            <a href="watchlist.html" class="icon-service">
                              <i class="icon-heart-1-1"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>
</div>
