<div class="widget-new-cars pt-40">
    <div class="themesflat-container">
        <div class="new-cars-wrap">
            <div class="header-section-main mb-46">
                <h2 class="title-section-main wow fadeInUp">Explore All Cars</h2>
                <div class="btn-read-more wow fadeInUp">
                    <a class="more-link" href="category.html">
                        <span>View More</span>
                        <i class="icon-arrow-up-right2"></i>
                    </a>
                </div>
    
            </div>
            <div class="swiper new-cars mybest-selling">
                <div class="swiper-wrapper">
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>New</span>
                                </div>
    
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car7.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car2.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>Trending</span>
                                </div>
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car6.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>Featured</span>
                                </div>
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car7.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>Featured</span>
                                </div>
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car2.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="tf-car-service swiper-slide">
                        <a href="/detail/25" class="image">
                            <div class="stm-badge-top">
                                <div class="feature">
                                    <span>Trending</span>
                                </div>
                            </div>
                            <div class="listing-images">
                                <div class="hover-listing-image">
                                    <div class="wrap-hover-listing">
                                        <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car6.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car11.jpg"
                                                    class="swiper-image lazy tfcl-light-gallery"
                                                    alt="images">
                                            </div>
                                        </div>
                                        <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                            <div class="images">
                                                <img src="assets/images/car-list/car12.jpg"
                                                    class="swiper-image tfcl-light-gallery" alt="images">
                                                <div class="overlay-limit">
                                                    <img src="assets/images/car-list/img.png"
                                                        class="icon-img" alt="icon-map">
                                                    <p>2 more photos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bullet-hover-listing">
                                            <div class="bl-item active"></div>
                                            <div class="bl-item"></div>
                                            <div class="bl-item"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="content">
                            <span class="sub-title">Mini Cooper 3 Similar</span>
                            <h6 class="title"><a href="/detail/25">Chevrolet Suburban 2021 mo</a></h6>
                            <span class="price">$27,000</span>
                            <div class="bottom-btn-wrap">
                                <div class="btn-read-more">
                                    <a class="more-link" href="/detail/25">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="watchlist.html" class="icon-service">
                                        <i class="icon-heart-1-1"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    </div>


    <!-- //// or  -->
     <h1 style="display: flex;justify-content: center;">OR</h1>

     
    <div style="margin-bottom: 50px; margin-right: 30px; margin-left:30px;">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" slides-per-view="3">
          <swiper-slide *ngFor="let car of carList">
            <div class="tf-car-service swiper-slide">
              <a href="/detail/25" class="image">
                <div class="stm-badge-top">
                  <div class="feature">
                    <span>{{ car.badge }}</span>
                  </div>
                </div>
                <div class="listing-images">
                  <div class="hover-listing-image">
                    <div class="wrap-hover-listing">
                      <div *ngFor="let image of car.images; let i = index" class="listing-item" [class.active]="i === 0">
                        <div class="images">
                          <img [src]="image" class="swiper-image tfcl-light-gallery" alt="Car Image">
                          <div *ngIf="i === car.images.length - 1" class="overlay-limit">
                            <img src="assets/images/car-list/img.png" class="icon-img" alt="icon-map">
                            <p>{{ car.images.length - 1 }} more photos</p>
                          </div>
                        </div>
                      </div>
                      <div class="bullet-hover-listing">
                        <div *ngFor="let bullet of car.images; let i = index" class="bl-item" [class.active]="i === 0"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="content">
                <span class="sub-title">{{ car.subtitle }}</span>
                <h6 class="title"><a href="/detail/25">{{ car.title }}</a></h6>
                <span class="price">{{ car.price }}</span>
                <div class="bottom-btn-wrap">
                  <div class="btn-read-more">
                    <a class="more-link" href="/detail/25">
                      <span>View details</span>
                      <i class="icon-arrow-right2"></i>
                    </a>
                  </div>
                  <div class="btn-group">
                    <a href="watchlist.html" class="icon-service">
                      <i class="icon-heart-1-1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
      
