 <!-- Main Page Title -->
 <div class="breadcrumb__area breadcrumb__bg" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="breadcrumb__content" bis_skin_checked="1">
                    <nav class="breadcrumb">
                        <span property="itemListElement" typeof="ListItem">
                            <a href="index.html">Home</a>
                        </span>
                        <span class="breadcrumb-separator">/</span>
                        <span property="itemListElement" typeof="ListItem">Shop by Categories</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->


<!-- widget explore car -->
<div class="widget-explore-car" bis_skin_checked="1">
    <div class="themesflat-container" bis_skin_checked="1">
        <div class="explore-car-wrap" bis_skin_checked="1">
            <div class="header-section-main mb-46" bis_skin_checked="1">
                <h2 class="title-section-main wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Shop by Brands</h2>
            </div>
            <div class="explore-car" bis_skin_checked="1">
                <a href="shop.html" class="explore-car-item">
                    <img src="./assets/images/banner/1.jpg" alt="">
                    <h5 class="title-explore">Sedan</h5>
                </a>
                <a href="shop.html" class="explore-car-item">
                    <img src="./assets/images/banner/2.jpg" alt="">
                    <h5 class="title-explore">SUV</h5>
                </a>
                <a href="shop.html" class="explore-car-item">
                    <img src="./assets/images/banner/3.jpg" alt="">
                    <h5 class="title-explore">Hatchback</h5>
                </a>
                <a href="shop.html" class="explore-car-item">
                    <img src="./assets/images/banner/4.jpg" alt="">
                    <h5 class="title-explore">Hybrid</h5>
                </a>
                <a href="shop.html" class="explore-car-item">
                    <img src="./assets/images/banner/5.jpg" alt="">
                    <h5 class="title-explore">Coupe</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-category-car" bis_skin_checked="1">
    <div class="themesflat-container" bis_skin_checked="1">
        <div class="category-car-wrap" bis_skin_checked="1">
            <div class="heading-section t-al-center" bis_skin_checked="1">
                <span class="sub-title mb-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">20% OFF FOR ONLINE BOOKing</span>
                <h2 class="title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Browse By Your favorite <span class="red-title">Vehicles</span>types</h2>
            </div>
            <div class="category-car" bis_skin_checked="1">
                <div class="category-car-item" bis_skin_checked="1">
                    <img src="./assets/images/car-list/category1.jpg" alt="">
                    <div class="btn-main" bis_skin_checked="1">
                        <a href="shop.html" class="button_main_inner">
                            <span>Minivan</span>
                        </a>
                    </div>
                </div>
                <div class="category-car-item" bis_skin_checked="1">
                    <img src="./assets/images/car-list/category2.jpg" alt="">
                    <div class="btn-main" bis_skin_checked="1">
                        <a href="shop.html" class="button_main_inner">
                            <span>Hatchback</span>
                        </a>
                    </div>
                </div>
                <div class="category-car-item-wrap" bis_skin_checked="1">
                    <div class="category-car-item" bis_skin_checked="1">
                        <img src="./assets/images/car-list/category3.jpg" alt="">
                        <div class="btn-main" bis_skin_checked="1">
                            <a href="shop.html" class="button_main_inner">
                                <span>Sedan</span>
                            </a>
                        </div>
                    </div>
                    <div class="category-car-item" bis_skin_checked="1">
                        <img src="./assets/images/car-list/category4.jpg" alt="">
                        <div class="btn-main" bis_skin_checked="1">
                            <a href="shop.html" class="button_main_inner">
                                <span>Coupe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- widget explore car -->
 <div class="widget-explore-car">
    <div class="themesflat-container">
        <div class="explore-car-wrap">
            <div class="header-section-main mb-46">
                <h2 class="title-section-main wow fadeInUp">Shop by type</h2>

            </div>
            <div class="box-car-wrap">
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c12.png" alt="">
                    </div>
                    <span>Sedan</span>
                </a>
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c10.png" alt="">
                    </div>
                    <span>Campers</span>
                </a>
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c8.png" alt="">
                    </div>
                    <span>cabriolet</span>
                </a>
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c11.png" alt="">
                    </div>
                    <span>Pickup</span>
                </a>
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c7.png" alt="">
                    </div>
                    <span>Supercar</span>
                </a>
                <a href="shop.html" class="box-car-item">
                    <div class="image-car">
                        <img src="assets/images/partner/c9.png" alt="">
                    </div>
                    <span>Minivans</span>
                </a>
            </div>
        </div>
    </div>
</div>