<div class="widget-banner-v2-h4">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-6">
                <div class="tf-car-banner car-banner-style2">
                    <div class="group-content">
                        <span class="sub-heading">Car inventory</span>
                        <h3 class="heading-car">Search Over <span class="text-red">18000+</span> Used
                            Vehicles</h3>
                        <div class="btn-read-more">
                            <a class="more-link" href="#">
                                <span>View Inventory</span>
                                <i class="icon-arrow-right2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="group-image">
                        <img src="./assets/images/banner/ellips.png" alt="image car" class="ellips">
                        <img src="./assets/images/banner/18.png" alt="car01" class="car">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tf-car-banner car-banner-style2">
                    <div class="group-content">
                        <span class="sub-heading">Car inventory</span>
                        <h3 class="heading-car">Looking To Sell Your <span class="text-red">Used</span>
                            brand car? </h3>
                        <div class="btn-read-more">
                            <a class="more-link" href="#">
                                <span>View Inventory</span>
                                <i class="icon-arrow-right2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="group-image">
                        <img src="./assets/images/banner/ellips.png" alt="image car" class="ellips">
                        <img src="./assets/images/banner/c3.png" alt="car01" class="car-red">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>