<div class="profileContainer">
  <div class="leftSideMenu">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" style="width: 6vw; height: 13vh;">
      <p> {{ customer.name }}</p>
      <p> {{ customer.email }}</p>    

      <div class="information">
          <strong style="font-size: 20px;">Contact Information</strong>
              <div><strong>Email Address</strong><p>{{'blabla@mail.com'}}</p></div>
              <div><strong>Contact No.</strong><p>{{'blabla@mail.com'}}</p></div>
              <div><strong>Birthday</strong><p>Dec,10 1961</p></div>
              <div>
                  <strong>Social Media</strong>
                  <ul class="social-icons" style="display: flex;gap: 2vh;">
                      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
              </div>
      </div>
  </div>
  <div class="rightSideMenu">
      <div class="options">
          <h6 (click)="selectTab('inquires')" style="cursor: pointer;" [ngStyle]="{'border-bottom': tabName === 'inquires' ? '2px solid blue' : 'none'}"
          >Inquires</h6>
          <h6 (click)="selectTab('purchased')"  style="cursor: pointer;" [ngStyle]="{'border-bottom': tabName === 'purchased' ? '2px solid blue' : 'none'}">Purchased Car</h6>
       
      </div>
      <div class="cards" *ngIf="tabName=='inquires'">
        <div class="table-wrapper">
          <table mat-table [dataSource]="requests" class="table table-bordered table-hover">
      
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>
      
            <!-- Car ID Column -->
            <ng-container matColumnDef="carID">
              <th mat-header-cell *matHeaderCellDef> Car ID </th>
              <td mat-cell *matCellDef="let element"> {{ element.carID }} </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
      
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>
      
            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
            </ng-container>
      
            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>
      
            <!-- License Column -->
            <ng-container matColumnDef="license">
              <th mat-header-cell *matHeaderCellDef> License </th>
              <td mat-cell *matCellDef="let element"> {{ element.license }} </td>
            </ng-container>
      
            <!-- Actions Column -->
      
            <!-- Table Header & Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          </table>
        </div>
      </div>
      <div class="cards" *ngIf="tabName=='purchased'">
        <div class="table-wrapper">
          <table mat-table [dataSource]="requests" class="table table-bordered table-hover">
      
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>
      
            <!-- Car ID Column -->
            <ng-container matColumnDef="carID">
              <th mat-header-cell *matHeaderCellDef> Car ID </th>
              <td mat-cell *matCellDef="let element"> {{ element.carID }} </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
      
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>
      
            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
            </ng-container>
      
            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>
      
            <!-- License Column -->
            <ng-container matColumnDef="license">
              <th mat-header-cell *matHeaderCellDef> License </th>
              <td mat-cell *matCellDef="let element"> {{ element.license }} </td>
            </ng-container>
      
            <!-- Actions Column -->
      
            <!-- Table Header & Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          </table>
        </div>
      </div>
      <div>

      </div>
  </div>
</div>