<div style="overflow-y: auto; height:100vh;">
    <div class="breadcrumb__area breadcrumb__bg" bis_skin_checked="1">
        <div class="container" bis_skin_checked="1">
            <div class="row" bis_skin_checked="1">
                <div class="col-lg-12" bis_skin_checked="1">
                    <div class="breadcrumb__content" bis_skin_checked="1">
                        <nav class="breadcrumb">
                            <span property="itemListElement" typeof="ListItem">
                                <a href="index.html">Home</a>
                            </span>
                            <span class="breadcrumb-separator">/</span>
                            <span property="itemListElement" typeof="ListItem">List Your Car</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->
                <form action="/" id="submit-add-cart" class="form-add-cart needs-validation" novalidate="" [formGroup]="carListingForm" (ngSubmit)="onSubmit()">
                    <fieldset id="information" class="mb-60">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <span class="sub-title">Add Your Car Today</span>
                            <h3 class="title">Add Your car</h3>
                        </div>
                        <div class="tfad-listing-title mb-30" bis_skin_checked="1">
                            <div class="form-group" bis_skin_checked="1">
                                <label>Listing Title (*)</label>
                                <input type="text" id="listing-title" formControlName="title" class="form-control" name="listing-title" placeholder="Enter title here" value="">
                            </div>
                        </div>
                        <div class="listing-fields-grid mb-30" bis_skin_checked="1">
                            <div class="form-group" bis_skin_checked="1">
                                <label>Listing Title (*)</label>
                                <div class="group-select" bis_skin_checked="1">
                                        <select class="list" formControlName="make">
                                            <option data-value="" class="option selected">BMV</option>
                                            <option data-value="Audi" class="option">Audi</option>
                                            <option data-value="Bentley" class="option">Bentley</option>
                                            <option data-value="Acura" class="option">Acura</option>
                                            <option data-value="Ferrari" class="option">Ferrari</option>
                                            <option data-value="Ford" class="option">Ford</option>
                                            <option data-value="Lexus" class="option">Lexus</option>
                                            <option data-value="Maybach" class="option">Maybach</option>
                                            <option data-value="Mercedes" class="option">Mercedes</option>
                                            <option data-value="Porsche" class="option">Porsche</option>
                                            <option data-value="Toyota" class="option">Toyota</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label> Model (*)</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">X5</span> -->
                                        <select class="list" formControlName="model">
                                            <option data-value="" class="option selected">X5</option>
                                            <option data-value="3 Series" class="option">3 Series</option>
                                            <option data-value="718 Boxster T" class="option">718 Boxster T</option>
                                            <option data-value="718 Cayman" class="option">718 Cayman</option>
                                            <option data-value="911 Carrera 4" class="option">911 Carrera 4</option>
                                            <option data-value="A4" class="option">A4</option>
                                            <option data-value="Bentayga" class="option">Bentayga</option>
                                            <option data-value="Bentayga Azure" class="option">Bentayga Azure</option>
                                            <option data-value="Bentayga Technology" class="option">Bentayga
                                                Technology</option>
                                            <option data-value="C Class" class="option">C Class</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Type (*)</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">Crossover</span> -->
                                        <select class="list" formControlName="type">
                                            <option data-value="" class="option selected">Crossover</option>
                                            <option data-value="Crossover" class="option">Compact</option>
                                            <option data-value="Convertible" class="option">Convertible</option>
                                            <option data-value="Crossover" class="option">Crossover</option>
                                            <option data-value="Hatchback" class="option">Hatchback</option>
                                            <option data-value="Sedan" class="option">Sedan</option>
                                            <option data-value="SUV" class="option">SUV</option>
                                        </select>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Years (*)</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="year" type="tel" id="year" value="2022" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Condition</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">Used</span> -->
                                        <select formControlName="condition" class="list">
                                            <option data-value="" class="option selected">Used</option>
                                            <option data-value="New" class="option">New</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Stock Number</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="stockNumber" type="tel" id="stock-number" placeholder="Enter Number" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>VIN Number</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="vinNumber" type="tel" id="vin-number" placeholder="Enter VIN" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Mileage</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="mileage" type="number" id="mileage" placeholder="Enter Mileage" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Transmission</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">Manual
                                            Transmission</span> -->
                                        <select class="list" formControlName="transmission">
                                            <option data-value="" class="option selected">Manual Transmission</option>
                                            <option data-value="Auto" class="option">Auto</option>
                                            <option data-value="CVT" class="option">CVT</option>
                                            <option data-value="DCT" class="option">DCT</option>
                                            <option data-value="MT" class="option">MT</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Driver Type</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">FWD</span> -->
                                        <select class="list" formControlName="driverType">
                                            <option data-value="" class="option selected">FWD</option>
                                            <option data-value="2WD" class="option">2WD</option>
                                            <option data-value="3WD" class="option">3WD</option>
                                            <option data-value="4WD" class="option">4WD</option>
                                            <option data-value="WD" class="option">WD</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Engine Size</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="engineSize" type="text" id="engine-size" placeholder="Enter Engine" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Cylinders</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">1</span> -->
                                        <select class="list" formControlName="cylinders">
                                            <option data-value="" class="option selected">1</option>
                                            <option data-value="2" class="option">2</option>
                                            <option data-value="3" class="option">3</option>
                                            <option data-value="4" class="option">4</option>
                                            <option data-value="5" class="option">5</option>
                                            <option data-value="6" class="option">6</option>
                                        </select>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Fuel Type</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">Petrol</span> -->
                                        <select class="list" formControlName="fuel">
                                            <option data-value="" class="option selected">Petrol</option>
                                            <option data-value="Diesel" class="option">Diesel</option>
                                            <option data-value="Electric" class="option">Electric</option>
                                            <option data-value="Gasoline" class="option">Gasoline</option>
                                            <option data-value="Hybrid" class="option">Hybrid</option>
                                        </select>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Doors</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">4</span> -->
                                        <select class="list" formControlName="doors">
                                            <option data-value="" class="option selected">4</option>
                                            <option data-value="2" class="option">2</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Color</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">Black</span> -->
                                        <select class="list" formControlName="color">
                                            <option data-value="" class="option selected">Black</option>
                                            <option data-value="red" class="option">Red</option>
                                            <option data-value="White" class="option">White</option>
                                            <option data-value="Green" class="option">Green</option>
                                            <option data-value="Yellow" class="option">Yellow</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Seats</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <!-- <div class="nice-select" tabindex="0" bis_skin_checked="1"><span class="current">1</span> -->
                                        <select class="list" formControlName="seats">
                                            <option data-value="" class="option selected">1</option>
                                            <option data-value="2" class="option">2</option>
                                            <option data-value="3" class="option">3</option>
                                            <option data-value="4" class="option">4</option>
                                            <option data-value="5" class="option">5</option>
                                        </select>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>City MPG</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input  formControlName="cityMPG" type="text" id="city-mpg" placeholder="18" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Highway MPG</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input formControlName="highwayMPG" type="text" id="highway-mpg" placeholder="28" required="">
                                </div>
                            </div>
                        </div>
                        <div class="description-fields mb-30" bis_skin_checked="1">
                            <div class="form-group" bis_skin_checked="1">
                                <label>Description</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <textarea id="description" formControlName="description" name="Description">                                            </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="listing-fields-grid mb-30" bis_skin_checked="1">
                            <div class="form-group" bis_skin_checked="1">
                                <label>Request Price Label</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <div class="radio" bis_skin_checked="1">
                                        <input id="first" type="radio" name="numbers" value="first" formControlName="priceLabel">
                                        <label for="first">Negotiable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label> Regular Price *</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input type="number" id="regular-price" formControlName="regularPrice" placeholder="Enter Sale Price" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Sale Price</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input type="number" id="sale-price" formControlName="salePrice" placeholder="Enter Sale Price" required="">
                                </div>
                            </div>
                            <div class="form-group" bis_skin_checked="1">
                                <label>Request Price Label</label>
                                <div class="group-select" bis_skin_checked="1">
                                    <input type="number" id="requesr-price " formControlName="requestPrice" placeholder="Enter Sale Price" required="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="amenities" class="mb-60">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <span class="sub-title">Add Your Car Today</span>
                            <h3 class="title">Select Listing Features</h3>
                        </div>
                        <div class="tfad-listing-feature" bis_skin_checked="1">
                            <div class="listing-feature-item" bis_skin_checked="1">
                                <div class="form-group" bis_skin_checked="1">
                                    <label>Request Price Label</label>
                                    <div class="group-select" bis_skin_checked="1">
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="front" type="checkbox" name="check" value="check" formControlName="ACFront">
                                            <label for="front">A/C: Front</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="rear" type="checkbox" name="check" value="check"  formControlName="ACRear">
                                            <label for="rear">A/C: Rear</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="camera" type="checkbox" name="check" value="check"  formControlName="backupCamera">
                                            <label for="camera">Backup Camera</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="control" type="checkbox" name="check" value="check"  formControlName="cruiseControl">
                                            <label for="control">Cruise Control</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="navigation" type="checkbox" name="check" value="check"  formControlName="navigation">
                                            <label for="navigation">Navigation</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="locks" type="checkbox" name="check" value="check"  formControlName="powerLocks">
                                            <label for="locks">Power Locks</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-feature-item" bis_skin_checked="1">
                                <div class="form-group" bis_skin_checked="1">
                                    <label>Entertainment</label>
                                    <div class="group-select" bis_skin_checked="1">
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="stereo" type="checkbox" name="check" value="check"  formControlName="amfmStereo">
                                            <label for="stereo">AM/FM Stereo</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="cd" type="checkbox" name="check" value="check" formControlName="cdPlayer">
                                            <label for="cd">CD Player</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="dvd" type="checkbox" name="check" value="check" formControlName="dvdSystem">
                                            <label for="dvd">DVD System</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="mp3" type="checkbox" name="check" value="check" formControlName="mp3Player">
                                            <label for="mp3">MP3 Player</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="portable" type="checkbox" name="check" value="check" formControlName="portableAudio">
                                            <label for="portable">Portable Audio</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="premium" type="checkbox" name="check" value="check" formControlName="premiumAudio">
                                            <label for="premium">Premium Audio</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-feature-item" bis_skin_checked="1">
                                <div class="form-group" bis_skin_checked="1">
                                    <label>Safety</label>
                                    <div class="group-select" bis_skin_checked="1">
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="driver" type="checkbox" name="check" value="check" formControlName="airbagDriver">
                                            <label for="driver">Airbag: Driver</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="passenger" type="checkbox" name="check" value="check" formControlName="airbagPassenger">
                                            <label for="passenger">Airbag: Passenger</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="brakes" type="checkbox" name="check" value="check" formControlName="antilockBrakes">
                                            <label for="brakes">Antilock Brakes</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="bluetooth" type="checkbox" name="check" value="check" formControlName="bluetooth">
                                            <label for="bluetooth">Bluetooth</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="hands-free" type="checkbox" name="check" value="check" formControlName="handsFree">
                                            <label for="hands-free">Hands-Free</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="fog-lights" type="checkbox" name="check" value="check" formControlName="fogLights">
                                            <label for="fog-lights">Fog Lights</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-feature-item" bis_skin_checked="1">
                                <div class="form-group" bis_skin_checked="1">
                                    <label>Windows</label>
                                    <div class="group-select" bis_skin_checked="1">
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="power" type="checkbox" name="check" value="check" formControlName="powerWindows">
                                            <label for="power">Power Windows</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="defroster" type="checkbox" name="check" value="check" formControlName="windowsDefroster">
                                            <label for="defroster">Windows Defroster</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="rear-window" type="checkbox" name="check" value="check" formControlName="rearWindow">
                                            <label for="rear-window">Rear Window</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="wiper-tinted-glass" type="checkbox" name="check" value="check" formControlName="wiperTintedglass">
                                            <label for="wiper-tinted-glass">Wiper Tinted Glass</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="sunroof" type="checkbox" name="check" value="check" formControlName="sunroof">
                                            <label for="sunroof">Sunroof</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="tow-package" type="checkbox" name="check" value="check" formControlName="towPackage">
                                            <label for="tow-package">Tow Package</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-feature-item" bis_skin_checked="1">
                                <div class="form-group" bis_skin_checked="1">
                                    <label>Seats</label>
                                    <div class="group-select" bis_skin_checked="1">
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="bucket-seats" type="checkbox" name="check" value="check" formControlName="bucketSeats">
                                            <label for="bucket-seats">Bucket Seats</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="heated-seats" type="checkbox" name="check" value="check" formControlName="heatedSeats">
                                            <label for="heated-seats">Heated Seats</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="leather-interior" type="checkbox" name="check" value="check" formControlName="leatherInterior">
                                            <label for="leather-interior">Leather Interior</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="memory-seats" type="checkbox" name="check" value="check" formControlName="memorySeats">
                                            <label for="memory-seats">Memory Seats</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="power-seats" type="checkbox" name="check" value="check" formControlName="powerSeats">
                                            <label for="power-seats">Power Seats</label>
                                        </div>
                                        <div class="radio" bis_skin_checked="1">
                                            <input id="third-row-seats" type="checkbox" name="check" value="check" formControlName="thirdRowSeats">
                                            <label for="third-row-seats">Third Row Seats</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="location" class="pd-bg mb-60">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <span class="sub-title">Add Your Car Today</span>
                            <h3 class="title">Add Your location</h3>
                        </div>
                        <p class="location mb-20">*Note: Just type the address into the search bar in the
                            upper-right corner of the map below, then press the Enter key.</p>
                        <div class="form-group" bis_skin_checked="1">
                            <label>Full Address</label>
                            <div class="group-select" bis_skin_checked="1">
                                <input type="text" id="address" placeholder="Enter Full Address" required="" formControlName="address">
                            </div>
                        </div>
                        <div class="form-group" bis_skin_checked="1">
                            <label>Map Location</label>
                            <div class="group-map-address-field" bis_skin_checked="1">
                                <input class="address-searching " id="address-searching" type="text" value="" aria-invalid="false" formControlName="mapLocation">
                                <button type="button" class="button-location">
                                    <i class="icon-search-1"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="upload-media" class="pd-bg">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <span class="sub-title">Media</span>
                            <h3 class="title">Upload Your Photos</h3>
                        </div>
                        <div class="upload-image-add-car" bis_skin_checked="1">
                            <div class="upload-image" bis_skin_checked="1">
                                <label for="photoLoad" class="uploadLabel">
                                    <i class="icon-Group4"></i>
                                    <span>Add a Photo</span>
                                    <input type="file"  formControlName="photo1" id="photoLoad" class="photoLoad" accept="image/*">
                                </label>
                            </div>
                            <div class="upload-image" bis_skin_checked="1">
                                <label for="photoLoad1" class="uploadLabel">
                                    <i class="icon-Group4"></i>
                                    <span>Add a Photo</span>
                                    <input type="file" formControlName="photo2" id="photoLoad1" class="photoLoad" accept="image/*">
                                </label>
                            </div>
                            <div class="upload-image" bis_skin_checked="1">
                                <label for="photoLoad2" class="uploadLabel">
                                    <i class="icon-Group4"></i>
                                    <span>Add a Photo</span>
                                    <input type="file" formControlName="photo3" id="photoLoad2" class="photoLoad" accept="image/*">
                                </label>
                            </div>
                            <div class="upload-image" bis_skin_checked="1">
                                <label for="photoLoad3" class="uploadLabel">
                                    <i class="icon-Group4"></i>
                                    <span>Add a Photo</span>
                                    <input type="file" formControlName="photo4" id="photoLoad3" class="photoLoad" accept="image/*">
                                </label>
                            </div>
                            <div class="upload-image" bis_skin_checked="1">
                                <label for="photoLoad4" class="uploadLabel">
                                    <i class="icon-Group4"></i>
                                    <span>Add a Photo</span>
                                    <input type="file" formControlName="photo5" id="photoLoad4" class="photoLoad" accept="image/*">
                                </label>
                            </div>
                        </div>
                        <p class="one-photo text-red">*You must upload at least one photo</p>
                    </fieldset>
                    <fieldset id="video" class="pd-bg">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <h3 class="title">Add Video</h3>
                        </div>
                        <div class="form-group" bis_skin_checked="1">
                            <div class="group-video" bis_skin_checked="1">
                                <input type="url" id="link-video"  formControlName="video" placeholder="Www.youtube.com/mehedii mohammad" required="">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="file-attachment" class="pd-bg">
                        <div class="inner-title mb-30" bis_skin_checked="1">
                            <h3 class="title">Attachment / VIN Report</h3>
                        </div>
                        <div class="upload-image" bis_skin_checked="1">
                            <label for="photoLoad-vin" class="uploadLabel">
                                <i class="icon-Group4"></i>
                                <span>Add a Photo</span>
                                <input type="file" formControlName="VINReport" id="photoLoad-vin" class="photoLoad" accept="image/*">
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <button type="submit" class="button-save-listing" style="margin-bottom: 25px;">Add
                            Car</button>
                    </fieldset>
                </form>
 </div>
 
    