 <!-- Main Page Title -->
 <div class="breadcrumb__area breadcrumb__bg" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="breadcrumb__content" bis_skin_checked="1">
                    <nav class="breadcrumb">
                        <span property="itemListElement" typeof="ListItem">
                            <a href="index.html">Home</a>
                        </span>
                        <span class="breadcrumb-separator">/</span>
                        <span property="itemListElement" typeof="ListItem">Contact Us</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<section class="py-5">
    <div class="container" bis_skin_checked="1">

        <div class="row justify-content-center align-items-center m-auto" bis_skin_checked="1">
            <div class="col-lg-6 col-md-6 col-sm-6" bis_skin_checked="1">
                <div class="bg-mode shadow rounded-3 overflow-hidden" bis_skin_checked="1">
                    <div class="row g-0" bis_skin_checked="1">
                        <!-- Vector Image -->
                        

                        <!-- Information -->
                        <div class="col-lg-12" bis_skin_checked="1">
                            <div class="p-3 p-sm-4 p-md-5" bis_skin_checked="1">
                                <!-- Title -->
                                <h2 class="mb-2 fs-2">Contact Us</h2>

                                <!-- Form START -->
                                <div class="form-buy-car-form">
                                  <p class="description">Your email address will not be published.</p>
                                  <form [formGroup]="buyCarForm" (ngSubmit)="onSubmit()" class="form-buy-car">
                                      <input type="text" formControlName="fullName" class="input-buy-car" placeholder="Full Name here" />
                                      <div *ngIf="buyCarForm.get('fullName')?.invalid && buyCarForm.get('fullName')?.touched" class="error-message">
                                        Full Name is required.
                                      </div>
                                    
                                      <input type="email" formControlName="email" class="input-buy-car" placeholder="Email Address" />
                                      <div *ngIf="buyCarForm.get('email')?.invalid && buyCarForm.get('email')?.touched" class="error-message">
                                        Enter a valid email.
                                      </div>
                                    
                                      <input type="tel" formControlName="phone" class="input-buy-car" placeholder="Phone Number" />
                                      <div *ngIf="buyCarForm.get('phone')?.invalid && buyCarForm.get('phone')?.touched" class="error-message">
                                        Phone number should be 10 digits.
                                      </div>
                                    
                                      <textarea formControlName="message" class="input-buy-car" placeholder="Write Message....."></textarea>
                                      <div *ngIf="buyCarForm.get('message')?.invalid && buyCarForm.get('message')?.touched" class="error-message">
                                        Message is required.
                                      </div>
                                    
                                      <button type="submit" [disabled]="buyCarForm.invalid">Send message</button>
                                    </form>
                                    
                                  
                              </div>
                                  
                                <!-- Form END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
