 <!-- Main Page Title -->
 <div class="breadcrumb__area breadcrumb__bg" bis_skin_checked="1">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="breadcrumb__content" bis_skin_checked="1">
                    <nav class="breadcrumb">
                        <span property="itemListElement" typeof="ListItem">
                            <a href="index.html">Home</a>
                        </span>
                        <span class="breadcrumb-separator">/</span>
                        <span property="itemListElement" typeof="ListItem">Car Details</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<div class="widget-property-detail" bis_skin_checked="1">
    <div class="themesflat-container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="wrap-property-car flex" bis_skin_checked="1">
                    <div class="box-1" bis_skin_checked="1">
                        <div class="icon-box-info flex" bis_skin_checked="1">
                            <div class="info-sale" bis_skin_checked="1">
                                <span class="sale">-34%</span>
                            </div>
                            <div class="info flex" bis_skin_checked="1">
                                <span>Make:</span>
                                <span class="fw-4">Toyota</span>
                            </div>
                            <div class="info flex" bis_skin_checked="1">
                                <span>Model:</span>
                                <span class="fw-4">XC60</span>
                            </div>
                            <div class="info flex" bis_skin_checked="1">
                                <span>Body:</span>
                                <span class="fw-4">Sedan</span>
                            </div>
                        </div>
                        <div class="title-heading" bis_skin_checked="1">Chevrolet Suburban 2021</div>

                        <div class="text-address" bis_skin_checked="1">
                            <i class="icon-map-1-1"></i>
                            <p>Boston, MA, United States</p>
                        </div>
                    </div>
                    <div class="box-2 t-al-right" bis_skin_checked="1">
                        <div class="icon-boxs flex" bis_skin_checked="1">
                            <a href="#">
                                <i class="icon-heart-1-1"></i>
                                <span>Favorite</span>
                            </a>
                            <a href="#">
                                <i class="icon-shuffle-2-11"></i>
                                <span>Compare</span>
                            </a>
                        </div>
                        <div class="price-wrap flex" bis_skin_checked="1">
                            <p class="price-sale">$46,000</p>
                            <p class="price">$48,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="gallary-property-details" bis_skin_checked="1">
                    <div class="swiper property-gallary2 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" bis_skin_checked="1">
                        <div class="swiper-wrapper" id="swiper-wrapper-69d2ab12f125f937" aria-live="polite" bis_skin_checked="1" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="7 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="8 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="9 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="10 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-69d2ab12f125f937" aria-disabled="false" bis_skin_checked="1"></div>
                        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-69d2ab12f125f937" aria-disabled="true" bis_skin_checked="1"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div class="swiper property-gallary swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-thumbs" bis_skin_checked="1">
                        <div class="swiper-wrapper" id="swiper-wrapper-3b5110f0360fcb0e6" aria-live="polite" bis_skin_checked="1" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-thumb-active swiper-slide-active" role="group" aria-label="1 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum2.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum3.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum4.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum5.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum6.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="7 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum7.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="8 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum5.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="9 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum2.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="10 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum3.jpg" alt="Image">
                            </div>
                        </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
            </div>
        </div>
        <div class="row pb-24" bis_skin_checked="1">
            <div class="col-lg-8 col-md-12" bis_skin_checked="1">
                <div class="post-property" bis_skin_checked="1">
                    <div class="wrap-description wrap-style" bis_skin_checked="1">
                        <h4 class="title">Description</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but majority have
                            suffered teration in some form, by injected humour, or randomised words which
                            don't look even slight believable. If you are going to use a passa There
                            are many variations of passages of Lorem Ipsum available, but majority have
                            suffered teration in some form look even
                            by injected humour, or randomised There are many variations of passages of Lorem
                            Ipsum available, but majority
                            have suffered teration in some form, by injected humour, or randomised words
                            which don't look even slight believable.
                            If you are going to use a passa There are many variations of passages of Lorem
                            Ipsum available, but majority
                            have suffered teration in some form, by injected humour, or randomised many
                            variations of passages of Lorem Ipsum available, but majority There are many
                            variations of passages of </p>
                    </div>
                    <div class="wrap-car-overview wrap-style" bis_skin_checked="1">
                        <h4 class="title">Car Overview</h4>
                        <div class="listing-info" bis_skin_checked="1">
                            <div class="row" bis_skin_checked="1">
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector5"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Condition:</span>
                                            <p class="listing-info-value">New</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-1000002834"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Cylinders: </span>
                                            <p class="listing-info-value">6</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class=" icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Stock Number:</span>
                                            <p class="listing-info-value">N8990</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group5"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Fuel Type:</span>
                                            <p class="listing-info-value">Petrol</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">VIN Number:</span>
                                            <p class="listing-info-value">84HKFI792KJDC</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-15"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Doors:</span>
                                            <p class="listing-info-value">4</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Year:</span>
                                            <p class="listing-info-value">2023</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Format-color-fill"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Color:</span>
                                            <p class="listing-info-value">Black</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-dashboard-2"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Mileage: </span>
                                            <p class="listing-info-value">28,000 miles</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-22"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Seats:</span>
                                            <p class="listing-info-value">5</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-22"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Transmission :</span>
                                            <p class="listing-info-value">Automatic</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-31"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">City MPG:</span>
                                            <p class="listing-info-value">18</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-engine-1"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Engine Size:</span>
                                            <p class="listing-info-value">4.8L</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-31"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Highway MPG:</span>
                                            <p class="listing-info-value">28</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-steering-wheel-1"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Driver type: </span>
                                            <p class="listing-info-value">2WD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-car-feature wrap-style" bis_skin_checked="1">
                        <h4 class="title">Features</h4>
                        <div class="tf-listing-info" bis_skin_checked="1">
                            <div id="tf-features" bis_skin_checked="1">
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Safety</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>A/C:
                                        Front</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Central
                                        locking</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Leather
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Sports
                                        package</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Exterior</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Front
                                        fog light</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Rain
                                        sensing wipe</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Rear
                                        Spoilers</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Sun roof
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Interior</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>A/C:
                                        Front</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Child
                                        safety locks</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Leather
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Driver
                                        air bags</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Convenience</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Power
                                        steering</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Vanity
                                        mirror</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Trunk
                                        Light</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12" bis_skin_checked="1">
                <div class="driver-price-wrap mb-40" bis_skin_checked="1">
                    <a class="test-driver mb-16" data-bs-toggle="modal" (click)="opendialogBox('testDrive')" role="button">
                        Schedule Test Driver
                        <i class="icon-steering-wheel-1"></i>
                    </a>
                    <a class="offer-price" data-bs-toggle="modal" (click)="opendialogBox('offerPrice')" role="button">
                        Make An Offer Price
                        <i class="icon-Group-12"></i>
                    </a>

                </div>
                <div class="author-contact-listing-wrap" bis_skin_checked="1">
                    <div class="author-contact-wrap" bis_skin_checked="1">
                        <div class="author-contact-avatar" bis_skin_checked="1">
                            <img src="./assets/images/avatar/avt-admin.png" title="image">
                        </div>
                        <div class="author-contact-info" bis_skin_checked="1">
                            <h4 class="name">Need Any Help?</h4>
                            <p class="desc">Support Staff</p>
                        </div>
                    </div>
                    <form [formGroup]="contactUs" (submit)="submitContactUs()" class="form-contact-admin" aria-label="Contact form">
                        <div class="group-form" bis_skin_checked="1">
                            <input class="admin-form" aria-required="true" formControlName="name" aria-invalid="false" placeholder="Your Name" value="" type="text">
                            <i class="icon-user-1-1"></i>
                        </div>
                        <div class="group-form" bis_skin_checked="1">
                            <input class="admin-form" aria-required="true" formControlName="email"  aria-invalid="false" placeholder="Email" value="" type="email">
                            <i class="icon-Group2"></i>
                        </div>
                        <div class="group-form" bis_skin_checked="1">
                            <input class="admin-form" aria-invalid="false" formControlName="phone"  placeholder="Enter Phone" value="" type="text">
                            <i class="icon-Group-14"></i>
                        </div>
                        <div class="group-form" bis_skin_checked="1">
                            <textarea class="admin-form" aria-invalid="false" formControlName="message" ></textarea>
                            <i class="icon-edit-1"></i>
                        </div>
                        <button type="submit"> Send Message </button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
     <!-- Widget New cars -->
     <div class="widget-new-cars">
        <div class="themesflat-container">
            <div class="new-cars-wrap">
                <div class="header-section-main mb-46">
                    <h2 class="title-section-main wow fadeInUp">Similar Products</h2>
                    <div class="btn-read-more wow fadeInUp">
                        <a class="more-link" href="shop.html">
                            <span>View More</span>
                            <i class="icon-arrow-up-right2"></i>
                        </a>
                    </div>

                </div>
                <div class="swiper new-cars mybest-selling">
                    <div class="swiper-wrapper">
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>

                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car7.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>

                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car2.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>
                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car6.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>
                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car7.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>
                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car2.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tf-car-service swiper-slide">
                            <a href="listing-details.html" class="image">
                                <div class="stm-badge-top">
                                    <div class="feature">
                                        <span>Featured</span>
                                    </div>
                                </div>
                                <div class="listing-images">
                                    <div class="hover-listing-image">
                                        <div class="wrap-hover-listing">
                                            <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car6.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car11.jpg"
                                                        class="swiper-image lazy tfcl-light-gallery"
                                                        alt="images">
                                                </div>
                                            </div>
                                            <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                                <div class="images">
                                                    <img src="assets/images/car-list/car12.jpg"
                                                        class="swiper-image tfcl-light-gallery" alt="images">
                                                    <div class="overlay-limit">
                                                        <img src="assets/images/car-list/img.png"
                                                            class="icon-img" alt="icon-map">
                                                        <p>2 more photos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bullet-hover-listing">
                                                <div class="bl-item active"></div>
                                                <div class="bl-item"></div>
                                                <div class="bl-item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="content">
                                <span class="sub-title">Mini Cooper 3 Similar</span>
                                <h6 class="title"><a href="listing-details.html">Chevrolet Suburban 2021 mo</a></h6>
                                <span class="price">$27,000</span>
                                <div class="bottom-btn-wrap">
                                    <div class="btn-read-more">
                                        <a class="more-link" href="listing-details.html">
                                            <span>View details</span>
                                            <i class="icon-arrow-right2"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="watchlist.html" class="icon-service">
                                            <i class="icon-heart-1-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>