<mat-drawer-container [autosize]="true" class="admin-layout" >
<div style="font-family: roboto, sans-serif;color: black; display: flex;">
<mat-drawer mode="side" open *ngIf="isVisible" class="OpacityCustom" style="font-size: 15px !important;" >
  <div class="sideMenu">
    <div class='Dashboard' style="opacity: 0.9" >
    <img class="multiVendorImage"
     src="assets/images/logo/search.png">
     <a  style="cursor: pointer;" target="_blank"> <h5 >Multi Vendor</h5></a>
  </div>
    <div class="Dashboard" [routerLink]="['/admin/dashboard']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <i style="font-size: medium ;" class="fa-solid fa-qrcode"></i>
      <h6 class="dashboardTxt">Dashboard</h6>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/vendor-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium;" class="fa-solid fa-people-group"></i>
        <h6 class="vendorTxt">Vendor</h6>
      </div>
      <div  class="customer"  [routerLink]="['/admin/customer-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium" class="fa-solid fa-user"></i>
        <h6 class="customerTxt">Customer</h6>
      </div>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/test-drives']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium;" class="fa-solid fa-car-on"></i>
        <h6 class="vendorTxt">Test Drive</h6>
      </div>
      <div  class="customer"  [routerLink]="['/admin/offer-price']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium" class="fa-solid  fa-hand-holding-dollar"></i>
        <h6 class="customerTxt">Offer Price</h6>
      </div>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/car-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium;" class="fa-solid fa-car-side"></i>
        <h6 class="vendorTxt">Car List</h6>
      </div>
      <div  class="customer"  [routerLink]="['/admin/sold-cars']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: medium" class="fa-solid  fa-handshake"></i>
        <h6 class="customerTxt">Sold car</h6>
      </div>
    </div>
    <div class="Dashboard" [routerLink]="['/admin/transactions']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <i style="font-size: medium ;" class="fa-solid fa-money-check-dollar"></i>
      <h6 class="dashboardTxt">Transaction</h6>
    </div>
  </div>
</mat-drawer>
<mat-drawer *ngIf="!isVisible" style="opacity: 0.5;">
  <div class="collapseSideMenu">
    <div class='collapse' style="opacity: 0.9" >
    <img class="multiVendorImage"
     src="assets/images/logo/search.png">
  </div>
    <div class="Dashboard" [routerLink]="['/admin/dashboard']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <i style="font-size: large ;" class="fa-solid fa-qrcode"></i>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/vendor-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large;" class="fa-solid fa-people-group"></i>
      </div>
      <div  class="customer"  [routerLink]="['/admin/customer-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large" class="fa-solid fa-user"></i>
      </div>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/test-drives']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large;" class="fa-solid fa-car-on"></i>
      </div>
      <div  class="customer"  [routerLink]="['/admin/offer-price']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large" class="fa-solid  fa-hand-holding-dollar"></i>
      </div>
    </div>
    <div class="vendorCustomer" >
      <div class="vendor" [routerLink]="['/admin/car-list']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large;" class="fa-solid fa-car-side"></i>
      </div>
      <div  class="customer"  [routerLink]="['/admin/sold-cars']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <i style="font-size: large" class="fa-solid  fa-handshake"></i>
      </div>
    </div>
    <div class="Dashboard" [routerLink]="['/admin/transactions']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <i style="font-size: large ;" class="fa-solid fa-money-check-dollar"></i>
    </div>
  </div>
</mat-drawer>

  <div class="routerOutlet">
    <router-outlet></router-outlet>
  </div>
</div>
</mat-drawer-container>
