/* Base styles */
.titleImage, .collapse {
  width: 18vw;
  border: 0.5px solid #d2cfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  font-family: roboto, sans-serif;
}

.collapse {
  width: 5vw;
}

.headerBar {
  width: 100%;
  border: 0.5px solid #d2cfcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e7600;
 }

.multiVendorImage {
  width: 8vh;
}

.parentHeader {
  display: flex;
  font-family: roboto, sans-serif;
  color: black;
  height: 11vh;
}

.profileImage {
  border-radius: 100%;
  width: 3vw;
}

.searchInput {
  width: 35vw;
  background-color: gainsboro;
  border-radius: 25px;
  border: none;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 18px;
  height: 6vh;
}

.magnifyingGlass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: large;
  color: gray;
}

.rightSideHeader {
  margin-right: 4vw;
  display: flex;
  gap: 3vw;
  align-items: center;
}

.sideMenu, .collapseSideMenu {
  width: 32vh;
  border-right: 0.5px solid #d2cfcf;
  height: 100vh;
  font-family: roboto, sans-serif;
  font-weight: 400;
}

.collapseSideMenu {
  width: 10vh;
}

.Dashboard {
  justify-content: left;
  display: flex;
  gap: 2vh;
  align-items: center;
  padding-left: 2vw;
  height: 10vh;
  border-bottom: 0.5px solid #d2cfcf;
  cursor: pointer;
}

.active-link {
  color: rgb(20, 9, 233);
  opacity: 10;
}

.active-link h6 {
  color: rgb(20, 9, 233);
  opacity: 10;
}

.vendorCustomer {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  gap: 1vw;
  border-bottom: 0.5px solid #d2cfcf;
  padding-bottom: 2vh;
}

.vendor, .customer {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.routerOutlet {
  background-color: #fbf7f7eb;
  /* background-color: #3e7600; */
  width: 100%;
}

h6 {
  font-weight: 400;
}

/* Responsive styles */
@media (max-width: 768px) {
  .titleImage, .collapse {
    width: 100%;
    font-size: 24px;
  }

  .titleImage{
    display: none;
  }


  .headerBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchInput {
    width: 80%;
    margin: 10px 0;
  }

  .rightSideHeader {
    margin-right: 2vw;
    gap: 2vw;
  }

  .sideMenu, .collapseSideMenu {
    width: 100%;
    height: auto;
  }

  .Dashboard, .vendor, .customer {
    padding-left: 1vw;
    gap: 1vh;
  }

  .vendorCustomer {
    flex-direction: row;
    gap: 2vw;
  }

  .routerOutlet {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .titleImage, .collapse {
    font-size: 20px;
  }

  .searchInput {
    width: 90%;
    font-size: 16px;
  }

  .rightSideHeader {
    margin-right: 1vw;
    gap: 1vw;
  }

  .Dashboard, .vendor, .customer {
    padding-left: 0.5vw;
    gap: 0.5vh;
  }

  .vendorCustomer {
    flex-direction: column;
    gap: 1vw;
  }
}