<mat-drawer-container [autosize]="true" class="admin-layout" >
  <mat-drawer mode="side" open *ngIf="isVisible" >
    <div class="sidebar">
      <div class="profile-section">
        
        <div *ngIf="profilePictureUrl; else initialsTemplate">
          <img [src]="profilePictureUrl" alt="Admin Profile" class="profile-picture" />
        </div>
        <ng-template #initialsTemplate>
          <div class="profile-initials">
            {{ getInitials(adminName) }}
          </div>
        </ng-template>
        <h3 class="admin-name">{{ adminName }}</h3>
      </div>
      <ul class="menu-list">
        <li [routerLink]="['/admin/dashboard']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Dashboard</li>
        <li [routerLink]="['/admin/test-drives']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Test Drives</li>
        <li [routerLink]="['/admin/test-drives']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Offer Price</li>
        <li [routerLink]="['/admin/add-cars']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Add Cars</li>
        <li [routerLink]="['/admin/sold-cars']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Sold Cars</li>
      </ul>
      
    </div>
  </mat-drawer>
    <button class="arrow-button" [ngClass]="{ 'right-arrow': !isVisible, 'left-arrow': isVisible }" (click)="toggleToolBar()">
      <span class="arrow"></span>
    </button>

  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <app-login></app-login> -->
