 
   <div class="dashboardMain">
    <div>
      <div style="display: flex;justify-content: right;gap: 1vw;margin-right: 1vw;margin-top: 1vw;">
        <button class="button-white">Set Commission</button>
        <button class="button-white">Set Advertise Banner</button>
      </div>
  </div>

    <div class="cardsParent">
      <div class="cards">
        <h5 >{{ totalCarBuy }}</h5>
        <p  >Total Vendors</p>
      </div>
     

      <div class="cards">
        <h5 >{{ totalCarBuy }}  </h5>
        <p  >Total Customers</p>
      </div>

      <div class="cards">
        <h5 >{{ totalCarBuy }}  </h5>
        <p  >Total Cars listed</p>
      </div>

      <div class="cards">
        <h5 >{{ totalCarBuy }}  </h5>
        <p  >Pending approval</p>
      </div>
      
      <div class="cards">
        <h5 >{{ totalCarBuy }}  </h5>
        <p  >Commission Earned</p>
      </div>
    </div>
   
   </div>
 
 
 <!-- <div class="dashboard-container">

    <h2>Admin Dashboard</h2>
  
    <div>
      <div style="display: flex;gap: 10px;">
        <button (click)="openImageDialog('updateCommission')">Set Commission</button>
        <button (click)="openImageDialog('updateBanner')">Set Advertise Banner</button>
      </div>
      <div class="dashboard-stats" style="display: flex;flex-wrap: wrap;">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Total Vendors</h5>
            <p class="card-text">{{ totalCarBuy }}  </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
  
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">{{ totalCarBuy }}  </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
  
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Total Cars listed</h5>
            <p class="card-text">{{ totalCarBuy }}  </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
  
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Pending approval</h5>
            <p class="card-text">{{ totalCarBuy }}  </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
  
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Total Commission Earned</h5>
            <p class="card-text">{{ totalTestDrives }}</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
   
  </div> -->


