.cards {
  width: 18vw;
  height: 22vh;
  padding: 2vh;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.buttonParent {
  display: flex;
  justify-content: right;
  gap: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
}

.cards:hover {
  background-image: linear-gradient(to top left, rgb(22, 2, 37), rgb(126, 15, 210)) !important;
  cursor: pointer;
}

.cards h3 {
  color: rgb(251, 251, 251);

}

.cardsParent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4vh;
  gap: 5vh;
}

.dashboardMain {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.button-white {
  background-color: rgb(3, 35, 82);
  color: #f5f1f1;
  border: 2px solid #ddd;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: auto
}


.addcarButton {
  background-color: #3e7600;
  color: #f5f1f1;
  border: 2px solid #ddd;
  padding: 19px 20px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3sease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: auto;
}

.addcarButton:hover {
  background-color: black;
}


.button-white:hover {
  background-color: #030553;
  border-color: #ccc;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

.button-white:active {
  background-color: #f0f0f0;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}


/* responsive design  */

@media screen and (max-width: 1200px) {
  .titleImage {
    width: 16vw;
    border: 0.5px solid #d2cfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    font-family: roboto, sans-serif;
  }


}

@media screen and (max-width: 550px) {
  .titleImage {
    width: 16vw;
    border: 0.5px solid #d2cfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    font-family: roboto, sans-serif;
  }

  .buttonParent {
    display: flex;
    justify-content: right;
    gap: 1vw;
    flex-direction: column;
    margin-right: 1vw;
    margin-top: 1vw;
  }
}