/* .dashboard-container {
    padding: 20px;
    text-align: center;
  }
  
  .dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat-card {
    background-color: #f4f4f9;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .stat-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .stat-card p {
    font-size: 2em;
    font-weight: bold;
    color: #3498db;
  }

 */



  /* ///////// */

.cards {
  width: 12vw;
  height: auto;
  /* background-color: blue; */
  /* background-image: linear-gradient(to top left,rgb(7, 58, 4), rgb(9, 9, 9)); */
  background-image: linear-gradient(white,whitesmoke );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-weight: 400;
}

.cards:hover {
  background-image: linear-gradient(to top left, rgb(235 235 235), rgb(245 241 241));
  cursor: pointer;
}

.cards p h5 {
  color: black;

}

.cardsParent {
  display: flex  ;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4vh;
}

.dashboardMain{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.button-white {
  background-color: white;
  color: #333;
  border: 2px solid #ddd;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 14vw
}

.button-white:hover {
  background-color: #f9f9f9;
  border-color: #ccc;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

.button-white:active {
  background-color: #f0f0f0;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
