.sold-cars-layout {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .filter-section input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    color: black;
  }
  
  
  table th {
    background-color: #a2ab9f;
    color: rgb(1, 0, 0);
  }
  
  table tr:hover {
    background-color: #f0f0f0;
  }
  