<div class="container">
    <header class="header">
      <h1>Angular News and Videos</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </nav>
    </header>
  
    <section class="news">
      <h2>Latest News</h2>
      <article class="news-item">
        <h3>Breaking News: Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante mauris. Curabitur vulputate velit lorem, at volutpat justo malesuada et.</p>
        <a href="#">Read more...</a>
      </article>
      <article class="news-item">
        <h3>Another News Article: Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae libero justo. Integer et ante vitae nunc cursus feugiat.</p>
        <a href="#">Read more...</a>
      </article>
    </section>
  
    <section class="videos">
      <h2>Featured Videos</h2>
      <div class="video-item">
        <h3>Video 1: Lorem Ipsum</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-item">
        <h3>Video 2: Another Lorem Ipsum</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kJQP7kiw5Fk" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
  
    <footer class="footer">
      <p>&copy; 2025 Angular News and Videos. All rights reserved.</p>
    </footer>
  </div>
  