<div class="profileContainer" [ngStyle]="{ 'width': userType ? '85vw' : '100vw' }">
    <div class="leftSideMenu">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" style="width: 6vw; height: 13vh;">
        <p> {{ customer.name }}</p>
        <p> {{ customer.email }}</p>    
        <div class="profileCounts">
            <div><strong>1703</strong><p>Bought</p></div>
            <div><strong>1703</strong><p>Likes</p></div>
            <div><strong>1703</strong><p>Wishlist</p></div>
        </div>

        <div class="information">
            <strong style="font-size: 20px;">Contact Information</strong>
                <div><strong>Email Address</strong><p>{{'blabla@mail.com'}}</p></div>
                <div><strong>Contact No.</strong><p>{{'blabla@mail.com'}}</p></div>
                <div><strong>Birthday</strong><p>Dec,10 1961</p></div>
                <div>
                    <strong>Social Media</strong>
                    <ul class="social-icons" style="display: flex;gap: 2vh;">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="rightSideMenu">
        <div class="options">
            <h6 style="border-bottom: 2px solid blue; cursor: pointer;">Profile</h6>
            <h6  style="cursor: pointer;">Settings</h6>
        </div>
        <div class="cards">
            <div class="card">
                <div>
                <i style="color: blue;" class="fa-solid fa-user"></i>
                </div>
                <div>
                    <strong>546</strong>
                    <p>Bought</p>
                </div>
               
            </div>
            <div class="card">
                <div>
                <i style="color: red; " class="fa-solid fa-heart"></i>
                </div>
                <div>
                    <strong>546</strong>
                    <p>Wish List</p>
                </div>
               
            </div>
            <div class="card">
                <div>
                    <i style="color: red;" class="fa-solid fa-heart"></i>
                </div>
                <div>
                    <strong>546</strong>
                    <p>Bought</p>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>