<div class="add-car-layout">
  <h2>Cars Added for Selling</h2>

  <!-- Add Cars Button and Search Filter -->
  <div style="margin: 20px; display: flex; justify-content: space-between; align-items: center;">
    <button mat-raised-button color="primary" class="add-car-button"  [routerLink]="['/admin/add-car']" (click)="addCar()">Add Cars</button>
    <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search by User or Car Model..." [(ngModel)]="searchQuery" (input)="onSearch()" />
    </mat-form-field>
  </div>

  <!-- Cars Added Table -->
  <div *ngIf="filteredCarSales.length > 0" style="height: 400px; overflow-y: auto;">
    <table mat-table [dataSource]="carSales" class="mat-elevation-z8 custom-table">
  
      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let car">{{ car.userId }}</td>
      </ng-container>
  
      <!-- User Name Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let car">{{ car.userName }}</td>
      </ng-container>
  
      <!-- Car Model Column -->
      <ng-container matColumnDef="carModel">
        <th mat-header-cell *matHeaderCellDef>Car Model</th>
        <td mat-cell *matCellDef="let car">{{ car.carModel }}</td>
      </ng-container>
  
      <!-- Car Added Time Column -->
      <ng-container matColumnDef="carAddedTime">
        <th mat-header-cell *matHeaderCellDef>Car Added Time</th>
        <td mat-cell *matCellDef="let car">{{ car.carAddedTime }}</td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Paginator -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  

  <!-- No Results Message -->
  <div *ngIf="filteredCarSales.length === 0" class="no-results">
    No cars added for selling.
  </div>
</div>
