.add-car-layout {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-car-button {
  width: 100px;
  background-color: #3e7600 !important;
  color: white !important;
}

.mat-form-field {
  margin-bottom: 20px;
}

.custom-table .mat-header-row {
  background-color: #a2ab9f;
}

.custom-table .mat-header-cell {
  color: rgb(1, 0, 0);
  font-weight: bold;
}

.mat-row:hover {
  background-color: gainsboro;

}

.no-results {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #888;
}

td:hover{
  cursor: pointer;
}

