
<div class="widget-property-detail mainFrameSize" bis_skin_checked="1">
    <div class="themesflat-container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="wrap-property-car flex" bis_skin_checked="1">
                    <div class="box-1" bis_skin_checked="1">
                        <div class="icon-box-info flex" bis_skin_checked="1">
                            <div class="info flex" bis_skin_checked="1">
                                <span>Make:</span>
                                <span class="fw-4">Toyota</span>
                            </div>
                            <div class="info flex" bis_skin_checked="1">
                                <span>Model:</span>
                                <span class="fw-4">XC60</span>
                            </div>
                            <div class="info flex" bis_skin_checked="1">
                                <span>Body:</span>
                                <span class="fw-4">Sedan</span>
                            </div>
                        </div>
                        <div class="title-heading" bis_skin_checked="1">Chevrolet Suburban 2021</div>

                        <div class="text-address" bis_skin_checked="1">
                            <i class="icon-map-1-1"></i>
                            <p>Boston, MA, United States</p>
                        </div>
                    </div>
                    <div class="box-2 t-al-right" bis_skin_checked="1">
                        <div class="icon-boxs flex" bis_skin_checked="1">
                            <a href="#">
                                <i class="icon-heart-1-1"></i>
                                <span>Favorite</span>
                            </a>
                            <a href="#">
                                <i class="icon-shuffle-2-11"></i>
                                <span>Compare</span>
                            </a>
                        </div>
                        <div class="price-wrap flex" bis_skin_checked="1">
                            <p class="price-sale">$46,000</p>
                            <p class="price">$48,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="gallary-property-details" bis_skin_checked="1">
                    <div class="swiper property-gallary2 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" bis_skin_checked="1">
                        <div class="swiper-wrapper" id="swiper-wrapper-69d2ab12f125f937" aria-live="polite" bis_skin_checked="1" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="7 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="8 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="9 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="10 / 10" bis_skin_checked="1" style="width: 1350px; margin-right: 10px;">
                                <img src="./assets/images/gallary/slide1.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-69d2ab12f125f937" aria-disabled="false" bis_skin_checked="1"></div>
                        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-69d2ab12f125f937" aria-disabled="true" bis_skin_checked="1"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div class="swiper property-gallary swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-thumbs" bis_skin_checked="1">
                        <div class="swiper-wrapper" id="swiper-wrapper-3b5110f0360fcb0e6" aria-live="polite" bis_skin_checked="1" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-thumb-active swiper-slide-active" role="group" aria-label="1 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum1.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum2.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="3 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum3.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum4.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum5.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum6.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="7 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum7.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="8 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum5.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="9 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum2.jpg" alt="Image">
                            </div>
                            <div class="swiper-slide" role="group" aria-label="10 / 10" bis_skin_checked="1" style="width: 254px; margin-right: 20px;">
                                <img src="./assets/images/gallary/thum3.jpg" alt="Image">
                            </div>
                        </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
            </div>
        </div>
        <div class="row pb-24" bis_skin_checked="1">
            <div class="col-lg-8 col-md-12" bis_skin_checked="1">
                <div class="post-property" bis_skin_checked="1">
                    <div class="wrap-description wrap-style" bis_skin_checked="1">
                        <h4 class="title">Description</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but majority have
                            suffered teration in some form, by injected humour, or randomised words which
                            don't look even slight believable. If you are going to use a passa There
                            are many variations of passages of Lorem Ipsum available, but majority have
                            suffered teration in some form look even
                            by injected humour, or randomised There are many variations of passages of Lorem
                            Ipsum available, but majority
                            have suffered teration in some form, by injected humour, or randomised words
                            which don't look even slight believable.
                            If you are going to use a passa There are many variations of passages of Lorem
                            Ipsum available, but majority
                            have suffered teration in some form, by injected humour, or randomised many
                            variations of passages of Lorem Ipsum available, but majority There are many
                            variations of passages of </p>
                    </div>
                    <div class="wrap-car-overview wrap-style" bis_skin_checked="1">
                        <h4 class="title">Car Overview</h4>
                        <div class="listing-info" bis_skin_checked="1">
                            <div class="row" bis_skin_checked="1">
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector5"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Condition:</span>
                                            <p class="listing-info-value">New</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-1000002834"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Cylinders: </span>
                                            <p class="listing-info-value">6</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class=" icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Stock Number:</span>
                                            <p class="listing-info-value">N8990</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group5"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Fuel Type:</span>
                                            <p class="listing-info-value">Petrol</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">VIN Number:</span>
                                            <p class="listing-info-value">84HKFI792KJDC</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-15"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Doors:</span>
                                            <p class="listing-info-value">4</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-13"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Year:</span>
                                            <p class="listing-info-value">2023</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Format-color-fill"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Color:</span>
                                            <p class="listing-info-value">Black</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-dashboard-2"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Mileage: </span>
                                            <p class="listing-info-value">28,000 miles</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-22"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Seats:</span>
                                            <p class="listing-info-value">5</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Vector-22"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Transmission :</span>
                                            <p class="listing-info-value">Automatic</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-31"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">City MPG:</span>
                                            <p class="listing-info-value">18</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-engine-1"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Engine Size:</span>
                                            <p class="listing-info-value">4.8L</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-Group-31"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Highway MPG:</span>
                                            <p class="listing-info-value">28</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 item" bis_skin_checked="1">
                                    <div class="inner listing-infor-box" bis_skin_checked="1">
                                        <div class="icon" bis_skin_checked="1">
                                            <i class="icon-steering-wheel-1"></i>
                                        </div>
                                        <div class="content-listing-info" bis_skin_checked="1">
                                            <span class="listing-info-title">Driver type: </span>
                                            <p class="listing-info-value">2WD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-car-feature wrap-style" bis_skin_checked="1">
                        <h4 class="title">Features</h4>
                        <div class="tf-listing-info" bis_skin_checked="1">
                            <div id="tf-features" bis_skin_checked="1">
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Safety</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>A/C:
                                        Front</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Central
                                        locking</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Leather
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Sports
                                        package</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Exterior</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Front
                                        fog light</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Rain
                                        sensing wipe</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Rear
                                        Spoilers</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Sun roof
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Interior</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>A/C:
                                        Front</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Child
                                        safety locks</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Leather
                                    </div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Driver
                                        air bags</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Navigation system</div>
                                </div>
                                <div class="features-item" bis_skin_checked="1">
                                    <h5 class="features-type-title">Convenience</h5>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Power
                                        steering</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Vanity
                                        mirror</div>
                                    <div class="listing-feature-wrap" bis_skin_checked="1"><i class="icon-Vector-32"></i>Trunk
                                        Light</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>