        <!-- End Main Header -->
        <!-- Slide-form -->
        <app-search-and-banner></app-search-and-banner>
        <!-- Slide-form -->

        <!-- widget explore car -->
        <app-explore-our-cars>   <div class="header-section-main mb-46">
            <h2 class="title-section-main wow fadeInUp">Explore Our cars</h2>
            <div class="btn-read-more wow fadeInUp">
                <a class="more-link" href="category.html">
                    <span>View More</span>
                    <i class="icon-arrow-up-right2"></i>
                </a>
            </div>
        </div></app-explore-our-cars>
        <!-- widget explore car -->

        <!-- Widget Tab best deals -->
        <app-trending-cars></app-trending-cars>
        <!-- Widget Tab best deals -->

        <app-shop-by-brand></app-shop-by-brand>


        <!-- Widget feature-v2 car -->
        <app-website-features-cards></app-website-features-cards>
        <!-- Widget banner v2 h4-->
        <app-sell-or-buycars-cards></app-sell-or-buycars-cards>
        <!-- Widget banner v2 4 -->

        <!-- Widget New cars -->
        <app-recently-added-cars></app-recently-added-cars>
        <!-- Form buy car -->
        <app-contact-us-banner></app-contact-us-banner>
        <!-- Form buy car -->
        <!-- Widget Car List V2 -->
        <!-- Widget New cars -->
        <app-explore-all-cars></app-explore-all-cars>

        <div class="preload preload-container" *ngIf="loader">
            <div class="middle">
            </div>
        </div>
        <!-- Widget Car List V2 -->