<div class="widget-feature-v2-car">
    <div class="themesflat-container">
        <div class="feature-v2-car-wrap">
            <div class="icon-box-feature">
                <div class="icon-box-item">
                    <div class="image">
                        <img src="./assets/images/icon-box/icon1.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Trusted Car Dealership</div>
                        <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                    </div>
                </div>
                <div class="icon-box-item">
                    <div class="image">
                        <img src="./assets/images/icon-box/icon2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Special Gift Offer</div>
                        <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                    </div>
                </div>
                <div class="icon-box-item">
                    <div class="image">
                        <img src="./assets/images/icon-box/icon3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Flexible Pricing</div>
                        <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                    </div>
                </div>
                <div class="icon-box-item">
                    <div class="image">
                        <img src="./assets/images/icon-box/icon4.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">Expert Car Service</div>
                        <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>